

<template id="post-list">

<div class="row">
    <router-link v-bind:to="'/beranda'" class="btn btn-xs btn-success">Beranda</router-link>
    <router-link class="btn btn-xs btn-primary" v-bind:to="{path: '/add-post'}">
        <span class="glyphicon glyphicon-plus"></span> Add New Post
    </router-link <br>
    <br>
    <div class="pull-right">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Post Title</th>
                <th>Post Body</th>
                <th class="col-md-2">Tools</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(post, index) in filteredPosts">
                <td>{{ index + 1 }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
                <td>
                    <router-link class="btn btn-xs btn-info" v-bind:to="{name: 'Viewpost', params: {id: post.id}}">Show</router-link>
                    <router-link class="btn btn-xs btn-warning" v-bind:to="{name: 'Editpost', params: {id: post.id}}">Edit</router-link>
                    <router-link class="btn btn-xs btn-danger" v-bind:to="{name: 'Deletepost', params: {id: post.id}}">Hapus</router-link>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</template>

<script>

export default {
    data: function() {
        return {
            posts: ''
        };
    },
    created: function() {
        let url = 'http://localhost:8000/posts';
        Axios.get(url).then((response) => {
            this.posts = response.data;
        });
    },
    computed: {
        filteredPosts: function() {
            if (this.posts.length) {
                return this.posts;
            }
        }
    }
}

</script>
